// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
display: inline-block;
vertical-align:text-top;
}

#interestscontainer {

}
.interestcontainer1 {
float: left;
padding-right: 210px;
}

.interestcontainer2 {
float: left;
}

#ShowResults {
display: block;
}

h4 {
text-align: center;
}

.button {
text-align: center;
vertical-align:text-top;
}