<% pagetitle = "Showing user_session" %>
<% content_for :title, pagetitle %>
<h1><%= pagetitle %></h1>

<p>
  <b>Username:</b>
  <%= @user_session.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user_session.password %>
</p>